# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List Popular languages for Data Science
* List commonly used libraries for Data Science
* Table Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Pythone
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries uesd by Data Scientists include:
* Python libraries
    1. Scientifics Computing: Pandas, Numpy
    2. Visualization: Matplotlib, Seaborn
    3. Machine Learning and Deep Learning: Scikit-learn, Keras
    4. TensorFlow
    5. PyTorch

| Data Science Tools |
|---|
| Anaconda Navigator |
| JupiterLab |
| VS Code |

### Below are a few examples of evaluating arithmetric in Python

In [5]:
# This a simple arithmetric expression to multiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
(200)/60

3.3333333333333335

## Author
KnotSan